AddHandler fcgid-script .fcgi

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{HTTP:X-Forwarded-Proto} !https  
    RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R,L]  
</IfModule>
